#logo{
  width: 100%;
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h1{
    color: rgb(196, 11, 11);
    position: absolute;
    z-index: 100;
    padding-top: 40px;
    letter-spacing: 2px;
    margin: 0;
  }
}

#bomb{
  font-size: 120px;
  position: absolute;
  z-index: 90;
  // width: 100%;
  // text-align: center;
  // transform-origin: 60px 60px;
  padding-left: 22px;
  color: white;
}