#logo{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h1{
    color: white;
    position: absolute;
    z-index: 100;
    padding-top: 130px;
    letter-spacing: 2px;
  }
}

#bomb{
  font-size: 120px;
  position: absolute;
  z-index: 90;
  // width: 100%;
  text-align: center;
  transform-origin: 60px 60px;
  padding-left: 22px;
  padding-bottom: 22px;
  color: white;
}

#explosion{
  // transform-origin: 90px 90px;
  color: rgb(0, 0, 0);
  font-size: 250px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100%{ 
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}