$star-color: var(--main-color);

.star{
  margin: 1em;
  width: 32px;
  height: 32px;
  display: inline;
  svg{
    font-size: 20px;
    color: $star-color;
    animation-name: flash;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes flash {
  0%{
    opacity: 0;
    transform-origin: center;
  }
  100%{
    opacity: 1;
  }
}