.pointer-button{
  width: 32px;
  height: 32px;
  background-color: black;
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 1em 2em 0;
  border-radius: 16px;
  color: var(--main-color);
  transition-duration: 0.2s;
  pointer-events: all;
}

.pointer-button:hover{
  cursor: pointer;
  // border-color: var(--success-color);
  color: var(--success-color);
}

.pointer-button span{
  pointer-events: none;
}