html {
  height: 100%;
  padding: 0;
  margin: 0;
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: $font;
    color: $primary;
    background: $bg-color;
    // touch-action: pan-x pan-y;
    touch-action: none;
    p{
      letter-spacing: 0.5px;
    }
    button:hover{
      cursor: pointer;
    }
  }
}