$font: sans-serif;

// Colors
$primary: rgb(185, 3, 79);
$secondary: #999;
$primary-light: rgb(248, 248, 248);
$bg-color: rgb(29, 29, 29);
$success: rgb(79, 243, 20);

// GamePlay layout
$border-margin: 16px;
$gameplay-button-border-radius: 5px;
