#game-over{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.game-over-container{
  background-color: rgba(128, 0, 21, 0.4);
  color: white;
  width: 160px;
  height: 160px;
  text-align: center;
}