#gameplay-header{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#quit-button{
  padding: 1em;
}

#quit-button:hover{
  cursor: pointer;
}