  $border-dark: rgb(71, 71, 71);
  $border-light: rgb(192, 192, 192);
  
  .tile{
    width: 40px;
    height: 40px;
    background: rgb(139, 139, 139);
    border-left: 1px solid $border-light;
    border-top: 1px solid $border-light;
    border-right: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;
    /* border: none; */
    margin: 0;
    text-align: center;
    float: left;
    box-sizing: border-box; 
    cursor: pointer;
    font-size: 16px;
    /* color: white; */
  }

  .tile:focus{
    outline: none
  }

  /* Open tile */
  /* .tile-open{
    background-color: white;
    border-top: 1px solid lightgray;
    border-Left: 1px solid lightgray;
    border-bottom: none;
    border-right: none;
    cursor: default;
  } */

