.footer-button{
  width: 32px;
  height: 32px;
  background-color: black;
  box-sizing: border-box;
  border: 2px solid $primary-light;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 $border-margin $border-margin 0;
  border-radius: $gameplay-button-border-radius;
  color: $primary-light;
  transition-duration: 0.2s;
  pointer-events: all;
}

.footer-button:hover{
  cursor: pointer;
  color: $success;
}

.footer-button span{
  pointer-events: none;
  font-size: 20px;
}