#board-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto auto;
  overflow: hidden;
}

/* This awfull looking thing is for pinch-pan-zoom to work when dragged outside of the board bounds. */
.TransformComponent-module_container__3NwNd{
  width: 100vw!important;
  height: 100vh!important;
}
