#logo{
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h1{
    // color: $primary;
    background: -webkit-linear-gradient(#eee, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: 100;
    padding-top: 44px;
    letter-spacing: 2px;
    margin: 0;
    font-size: 40px;
  }
}

#bomb{
  font-size: 130px;
  position: absolute;
  z-index: 90;
  padding-left: 22px;
  color: $primary-light;
}