#start-game-button{
  color: $primary-light;
  background: none;
  border: 2px solid $primary;
  margin: 1em;
  border-radius: 20px;
  padding: 20px;
  transition-duration: 1s;
}

#start-game-button:hover{
  border-color: $success;
  color: $success;
}