// $button-active-color: green;

#start-menu{
  // width: 80%;
  height: 100%;
  // margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
}

// .menu-button{
//   display: block;
//   width: 320px;
//   border: 2px solid white;
//   margin: 1em 0 1em 0;
//   text-align: center;
//   padding: 1em 0 1em 0;
//   box-sizing: border-box;
//   border-radius: 40px;
//   background-color: black;
//   color: white;
// }

// .difficulty-select{
  
// }

// .difficulty-select:hover{
//   cursor: pointer;
//   background-color: teal;
//   color: white;
// }

// .active{
//   border-color: rgb(5, 165, 112);
//   background-color: $button-active-color;
//   color: white;
// }

#start-game-button{
  color: white;
  background: none;
  border: 2px solid white;
  margin: 1em;
  border-radius: 20px;
  padding: 20px;
}

#start-game-button:hover{
  border-bottom: 2px solid white;
}