@import url('https://fonts.googleapis.com/css2?family=Share&family=Boogaloo&family=Unica+One&family=Zen+Dots&display=swap');

html, body{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Share', arial;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  min-width: 100%;
  min-height: 100%;
  /* background: rgb(39,12,64);
  background: -moz-linear-gradient(32deg, rgba(39,12,64,1) 4%, rgba(61,11,27,1) 100%);
  background: -webkit-linear-gradient(32deg, rgba(39,12,64,1) 4%, rgba(61,11,27,1) 100%);
  background: linear-gradient(32deg, rgba(39,12,64,1) 4%, rgba(61,11,27,1) 100%); */
  /* background: rgb(31, 31, 31); */


  background: rgb(33,33,33);
}

button{
  font-family: 'Share', arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
