#board-container{
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto auto;
  overflow: hidden;
}

.board{
  /* border-left: 2px solid lightGray;
  border-bottom: 2px solid lightGray; */
}

.TransformComponent-module_container__3NwNd{
  width: 100vw!important;
  height: 100vh!important;
}
