#board-container{
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto auto;

}

.board{
  background-color: lightgrey;
  border-left: 2px dotted lightGray;
  border-bottom: 2px dotted lightGray;
}